<h1>Add Course</h1>

<form action="/about" method="POST">
  <div class="input-field col s6">
    <input name="course" id="course" type="text" class="validate" />
    <label for="Course">Course</label>
  </div>

  <div class="input-field col s6">
    <input name="price" id="price" type="text" class="validate" />
    <label for="Price">Price</label>
  </div>

  <div class="input-field col s6">
    <input name="file_URL" id="file_URL" type="text" class="validate" />
    <label for="File_URL">File URL</label>
  </div>

  <button class="waves-effect waves-light btn" type="submit">Submit
  </button>

</form>