<h1>About page</h1>

<form action="/about" method="POST">
  <div class="input-field col s6">
    <input name="Course" id="Course" type="text" class="validate" />
    <label for="Course">Course</label>
  </div>

  <div class="input-field col s6">
    <input name="Price" id="Price" type="text" class="validate" />
    <label for="Price">Price</label>
  </div>

  <div class="input-field col s6">
    <input name="File_URL" id="File_URL" type="text" class="validate" />
    <label for="File_URL">File URL</label>
  </div>

  <button class="waves-effect waves-light btn" type="submit">Submit
  </button>

</form>