.nav-wrapper {
  padding: 0 2rem;
}

.price {
  font-size: 1.5rem;
}

.label {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.course {
  font-weight: 600 !important;
}

.card-title {
  font-size: 50px !important;
  margin-bottom: 25px !important;
}

.material-icons {
  font-size: 40px !important;
}

.link {
  margin-top: 10px;
  font-size: 25px;
}

.card-action.action {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cart-price {
  display: flex;
}

.edit-form {
  margin-bottom: 1rem;
}

.center {
  margin: auto;
  width: 50%;
}

.orders {
  display: block;
  text-align: left;
  border: 3px solid #3c3ab9;
  padding: 10px;
  margin-bottom: 10px;
  /* flex-direction: column; */
}

.orders p {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.auth {
  margin-top: 1rem;
}
